.fullScreen{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #2874F0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.fullScreen>div{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rotateAnimations{
  transform: rotate(-18deg);
}
.loading{
  font-size: 4rem;
}
.loadingMessage{
  font-size: 1rem;
  margin-top: 0 !important;
}

.metaMask{
  margin-top: -50px !important;
}